<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
            <!-- <li><a href="{{ site.baseurl }}/books/">The Joy of PL Books</a></li> -->
            <!-- <li><a href="{{ site.baseurl }}/resources/">Resources</a></li> -->
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Let's Connect</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59481e440366e04c"></script> 
